<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.imgur.com/yhVEjDp.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Szmitek Not Found</title>

    <style>
      body{
        background-image: none;
        background-color: #000000
      }
    </style>
  </head>

  <body>
    <h1><a href="https://itsbudyn.pythonanywhere.com">Strona której szukasz jest jak moja dziewczyna</a></h1>
    <p><br>nudny już żart wiem ale serio to jest 404 handler page tutaj nic nie ma</p>
    <p><br><br>HTTP ERROR: 404 NOT FOUND</p>
    <img src="https://i.imgur.com/q4MUBAC.jpg">
  </body>

  <footer>
    Strona nie przechowuje plików cookies i nie gromadzi danych użytkownika.
  </footer>
  
</html>
