<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
        body{
            background-color: black;
        }
        a{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.imgur.com/yhVEjDp.png">
    <title>Szmitek Pięćset Minus</title>
  </head>
  <body>
    <h1><a href="https://itsbudyn.pythonanywhere.com">dobra</a></h1>
    <p><br>to już jest jakiś problem
    <br>albo skopałem coś w flasku/pontonie albo strona jest przeciążona</p>
    <p><br>albo...</p>
    <p><br>dobra spróbuj wymazać wszystko co jest po <a href="itsbudyn.pythonanywhere.com">itsbudyn.pythonanywhere.com</a> albo kliknij w to
    <br>czy zadziała to już nie wiem</p>
    <p><br><br>HTTP ERROR: 500 INTERNAL SERVER ERROR</p>
    <img src="https://i.imgur.com/RGwIP2d.jpg">
  </body>
</html>
