<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Szmitek text generator</title>
  </head>
  <body>
    <h1><a href="/../">Szmitek text generator</a></h1>
    <br>Strona generuje losowy tekst Szmitka.
    <br>Aplikacja posiada dwie listy wyrazów, z obu list przy każdym naciśnięciu "Generuj", z każdej
    <br>zostanie wylosowany 1 wyraz, znajdujący się przed i po "w". W sumie to tyle. lol
    <br><p>by: itsbudyn</p>
    <br><br>
    <p>W listach znajduje się razem <b>{{ wyrazy }}</b> wyrazów, z czego lista A zawiera <b>{{ wyr1 }}</b> a lista B <b>{{ wyr2 }}</b>. </p>
    <br><br>
    <a href="https://github.com/itsbudyn/szmitek-flask-app">GitHub</a>
  </body>
</html>