<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.imgur.com/yhVEjDp.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Szmitek text generator</title>
  </head>
  <body>
    <h1><a href="/../">Szmitek text generator</a></h1>
    <p class="about"><br>Strona generuje losowy tekst Szmitka.
    <br>Aplikacja posiada dwie listy wyrazów, z obu list przy każdym naciśnięciu "Generuj", z każdej zostanie wylosowany 1 wyraz, znajdujący się przed i po "w". W sumie to tyle. lol
    <br><br>Robione w <a href="https://www.python.org">Pythonie</a> (<a href="https://palletsprojects.com/p/flask/">flask</a>). Specjalne podziękowania dla losowych ludzi którzy pod filmami wrzucali timestampy z tekstami.</p>
    <br><p>by: itsbudyn</p>
    <br><br>
    <p>W listach znajduje się razem <b>{{ wyrazy }}</b> wyrazów, z czego lista A zawiera <b>{{ wyr1 }}</b> a lista B: <b>{{ wyr2 }}</b>. Możliwych kombinacji: <b>{{ komb }}</b> </p>
    <br><br>
    <form action="https://github.com/itsbudyn/szmitek-flask-app">
      <input type="submit" value="GitHub" class="button btn_github"/>
    </form>
  </body>
</html>