<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.imgur.com/yhVEjDp.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Szmitek text generator</title>
  </head>

  <body>
    <h1><a href="/../">Szmitek Text Generator</a></h1>
    <div class="container">
      Strona generuje losowy tekst, złożony z innych tekstów wypowiedzianych przez Szmitka. Otrzymany produkt jest całkowicie losowy.
      <br><br><br>Aplikacja posiada dwie listy wyrazów, z których losuje się po jednym wyrazie. Napisane w <a href="https://www.python.org">Pythonie</a>, serwer złożony w <a href="https://palletsprojects.com/p/flask/">Flasku</a> i hostowany obecnie na <a href="https://pythonanywhere.com">PythonAnywhere</a>.
      <br><br><br>Specjalne podziękowania dla losowych ludzi którzy pod filmami wrzucali timestampy z tekstami.
      <br><br><br>Zrobione aby poćwiczyć sobie Pythona i HTML/CSS.<br><br>
      
      <form action = "/" style="float: left" >
        <input type="submit" value="Powrót" class = "button btn_generate">
      </form>

      <form action="https://github.com/itsbudyn/szmitek-flask-app" style="float: right">
        <input type="submit" value="GitHub" class="button btn_about"/>
      </form>

      <br><p>by: itsbudyn</p>
    </div>
  </body>

  <footer>
    One More Time update.<br>
    Strona nie przechowuje plików cookies.
  </footer>

</html>
