<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.imgur.com/yhVEjDp.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Szmitek text generator</title>
  </head>

  <body>
    <h1>Szmitek Text Generator</h1>
    <div class="container">
      Załadowano <b>{{ wyrazy }}</b> wyrazów (<b>{{ wyr1 }}</b> + <b>{{ wyr2 }}</b>). <br>Możliwych kombinacji: <b>{{ komb }}</b>
      <br><br><p class="szmitek">{{ test }}</p>

      <form action = "./generate" method="post" style="float:left">
        <input type="submit" name="submit_button" value="Generuj" class = "button btn_generate">
      </form>

      <form action = "./about" style="float:right">
          <input type="submit" value="O stronie" class="button btn_about">
      </form>

      <br><br><p>Wygenerowano tekst już <b>{{ total }}</b> razy!</p>
    </div>
  </body>

  <footer>
    Strona nie przechowuje plików cookies.
  </footer>

</html>
